@tailwind base;
@tailwind components;
@tailwind utilities;

.notie-container {
    top: 80px !important;
    /* Adjust based on header height */
    right: 20px !important;
    left: auto !important;
    width: 300px !important;
    border-radius: 0.5rem !important;
    z-index: 9999 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.notie-textbox {
    font-size: 1rem !important;
}
